<div id="header">
  <p class="leftalign">Join Game </p>
  <p class="rightalign"><%=  link_to_function "?" , "find_help()",:class =>"button", :id=>"help_button"%>&nbsp;<%= link_to_function 'Logout', 'logout_session()',:class => "button" %>&nbsp;&nbsp;<a id="online_status">status</a></p>
</div>
<div id="content">
  <div class="text_box_design">
<table class="select_record_from_table">
 <%if @games %>
    <tr>
    <th>Join Id</th>
    <th>Name</th>
    <th>Status</th>
    <th>On</th>
  </tr>
<% @games.each do |game| %>
  <tr onclick="new_score_show(<%=game.id.to_s %>,'<%=game.updated_at.to_s%> '),change_row_color(<%=game.id%>)"class="row_background_<%=game.id%>">
    <td><%= game.id %></td>
    <td><%= game.course.name %></td>
    <td><%= game.status %></td>
    <td><%= game.created_at.strftime('%b %d, %Y') %></td>
  </tr>
 <% end %>
<%else%>
  <tr><th colspan="5">Sorry !!! No Games to Join</th></tr>
<%end%>
</table>
 </div>
</div>
<div id="footer">
  <p class="leftalign" ><%= link_to_function "Back","check_back_button('courses')", {:class =>"back_button" } %></p>
</div>


