<div id="header">
  <p class="leftalign">Define Game </p>
  <p class="rightalign"><%=  link_to_function "?" , "find_help()",:class =>"button", :id=>"help_button"%>&nbsp;<%= link_to_function 'Logout', 'logout_session()',:class => "button" %>&nbsp;&nbsp;<a id="online_status">status</a></p>
</div>
<div id="content">
  <div class="text_box_design">
    <table class="select_record_from_table">
      <tr>
	<th>Select Group</th>
      </tr>
      <% @groups.each do |group| %>
	<tr onclick="change_row_color(<%=group.id%>)" class="row_background_<%=group.id%>" >
	  <td><%= group.name %></td>
 
	</tr>
      <% end %>
    </table>
  </div>
</div>
  <div id="footer">
    <input type="hidden" id="group_value"></input>
    <p class="leftalign" ><%= link_to "Back",courses_path, {:class =>"back_button" } %></p>
    <p class="rightalign" ><%= link_to_function 'View', "get_selected_link('/groups/')" ,{:class =>"button" }%>&nbsp;
    <% if @course %>
      <%= link_to_function 'Game',"get_selected_link('/groups/',#{@course})" ,{:class =>"button" }%>
    <% end %>
    &nbsp;
    <%= link_to_function "+",'redirect_to_path("/groups/new")', { :class =>"button" } %></p>
  </div>

